.container {
    margin: 20px auto;
}
.container h3{
    text-align: center;
}
.category-list * {transition: .4s linear;}
.category-list {
    background: white;
    list-style-type: circle;
    list-style-position: inside;
    padding: 0 10px;
    margin: 0;
}
.category-list li {
    font-family: "Trebuchet MS", "Lucida Sans";
    border-bottom: 1px solid #efefef;
    padding: 10px 0;
}

.category-list li span {
    border: 1px solid #efefef;
    padding: 0 5px;
    font-size: 13px;
    color: #999;
}
.category-list li .right-block {
    float: right;
    display: inline-block;
}
.category-list li .right-block a {
    padding-left: 15px;
}
.category-list li .right-block form {
    display: inline-block;
}
.category-list li .right-block button {
    border: none;
    background-color: transparent;
    color: #3490dc;
}
.category-list li .right-block button:hover {
    color: red;
}
.category-list li span:hover {
    color: #c93961;
    border: 1px solid #c93961;
}
.nav a.nav-item {
     height: 30px;
}
.navbar-nav {
    font-size: 1.2rem;
}
.products-header {
    width: 100%;
    position: relative;
}
.products-header a.right-link{
    position: absolute;
    font-size: 20px;
    right: 30px;
    text-decoration: none;
}
.products-header a.left-link{
    position: absolute;
    font-size: 20px;
    left: 30px;
}
.product-link {
    padding: 7px;
    text-decoration: none;
    color: #555;
}
.product-link:hover {
    text-decoration: none;
    background-color: lightgrey;
}
.welcome {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 15px;
    font-style: italic;

}
.laravel {
    padding-top: 10px;
    margin-left: 15px;
}
.form {
    width: 50%;
    margin: 0 auto;
}